@mixin txt-prst-1 {
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 300;
}

@mixin txt-prst-2 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 300;
}

@mixin txt-prst-3 {
  font-size: 2rem;
  line-height: 2.375rem;
  font-weight: 300;
}

@mixin txt-prst-4 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 300;
}

@mixin txt-prst-5-md {
  font-size: 1.125rem;
  line-height: 1.25rem;
  font-weight: 500;
}

@mixin txt-prst-5-rg {
  font-size: 1.125rem;
  line-height: 1.25rem;
  font-weight: 400;
}

@mixin txt-prst-6 {
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 400;
}
