// COLOURS

$white: #ffffff;
$black: #000000;

$navy950: #0e1323;
$navy900: #1c204b;
$navy800: #33397a;
$navy200: #bbc0ff;

$orange: #ff8b64;

$purple700: #7335d2;
$purple600: #5747ea;
$purple500: #7078c9;

$blue300: #55c2e6;

$pink400: #ff5e7d;

$green400: #4bcf82;

$yellow300: #f1c75b;

$grey200: #d8d8d8;


// SPACING

$spacing0: 0;
$spacing100: 0.5rem;
$spacing200: 1rem;
$spacing300: 1.5rem;
$spacing400: 2rem;
$spacing500: 2.5rem;